@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}
/* Style of body */
body { 
	//padding-top: 40px;
	padding-bottom: 40px;
	background-image: linear-gradient(to left top, rgba(0,170,176, 0),rgba(0,170,176, 0.8)),URL( https://images.unsplash.com/photo-1538524270287-6704e888cda2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64439800400a51985141bc9f26467f4b&auto=format&fit=crop&w=564&q=80);
	//background-image: linear-gradient(to right, #00aab0, #00cdac),URL( https://images.unsplash.com/photo-1538524270287-6704e888cda2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64439800400a51985141bc9f26467f4b&auto=format&fit=crop&w=564&q=80);
	//background-image:URL( https://images.unsplash.com/photo-1538524270287-6704e888cda2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64439800400a51985141bc9f26467f4b&auto=format&fit=crop&w=564&q=80);
	background-size: cover;
	background-position: center;
//	background-color: #f2f2f2;
	color: white;
}

/* Style of header */
.header { //
	background-color: #C9FFDE; //
	background-color: #86DCF0; //
	background-color: #93DFCB;
	background-color: #00cdac;
	opacity: 0.9;
	font-family: 'Arial', Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
	width: 100%;
}

/* Style of menu bar */
.menu {
	overflow: hidden; //
	background-color: #ddd;
	background-color: #F8FFD4;
	background-color: #93DFCB;
	opacity: 0.9;
}

/* Style of menu links */
.menu a {
	font-family: 'Arial', Helvetica, sans-serif;
	float: left;
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.menu a:hover {
	background-color: #f2f2f2;
	opacity: 0.9;
	color: black;
}
/* Style of main */
.main1 {
	text-align: left;
	font-family: 'Arial', Helvetica, sans-serif;
	padding-bottom: 70px;
	overflow: auto;
}
/* Style of footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #93DFCB;
	opacity: 0.9;
	font-family: 'Arial', Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
	width: 100%;
	clear: both;
}

.contact {
	text-align: left;
	left padding: 20px;
}