@charset "ISO-8859-1";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; }

/* Style of header */
.header { 

	min-height: 100vh;
	background-image: url(https://cdn-images-1.medium.com/max/1600/1*5XH40dQSsBVFtvx3MO5VwQ.png);
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:1;
	font-family: 'Arial', Helvetica, sans-serif;
	padding: 100px;
	text-align: center;
	width: 100%;
	z-index:1;
	
}

#header-name{
	font-size: 50px;
	color: #F5F5F5;
}

#header-job{

	color: #F5F5F5;
}
#header-text{
	z-index:1;
	position: relative;
	top:100px;
}

#header-hr{
	z-index:1;
	width: 200px;
	height: 2px;
	background: #F5F5F5
	
}
/* Style of menu bar */
.menu {
	position:fixed;
	z-index: 99999;
	background-color: #ddd;
	width:100%;
	opacity: 1;
}

/* Style of menu links */
.menu a {
	font-family: 'Arial', Helvetica, sans-serif;
	float: left;
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.menu a:hover {
	background-color: #f2f2f2;
	opacity: 0.9;
	color: black;
}

/* Style of body */
body { 
	margin:0;
    padding:0;
	//position: relative;

	//background-image: linear-gradient(to left top, rgba(0,170,176, 0),rgba(0,170,176, 0.8)),URL( https://images.unsplash.com/photo-1538524270287-6704e888cda2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64439800400a51985141bc9f26467f4b&auto=format&fit=crop&w=564&q=80);
	//background-size: cover;
	//background-position: center;
//	background-color: #f2f2f2;
	color: black;
}

p{
	margin:0px;
	padding:0px;
}


#about-me{
	
	background-color:#2B2B2B;
	padding:10px;
}

#about-me h2{
	text-transform: uppercase;
    font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
	color: #F5F5F5;
}
#about-me p{
	color: #999;
	margin:0px;
}

/* P O R T F O L I O */


#portfolio{
	padding: 80px 0;
	background: #EBEEEE;
	z-index: 1;
}


#portfolio h2{
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #666;
}

#portfolio img{
	max-width: 100%;
}

#portfolio .row > div{
	margin-bottom: 1.5rem;
    position: relative;
}



#portfolio .row div .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 30px);
    transform: scale(0);
    margin: auto;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(0, 0, 0, .55);
    border-radius: 20%;
}

#portfolio .row div:hover .overlay {
    opacity: 1;
    transform: scale(1);
    height: 100%;
    border-radius: 0;
}

#portfolio .row div .overlay h3{
    color: #f7f7f7;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    letter-spacing: .05em;
}

.overlay h3.project-title{
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
	-ms-transform: translate(-50%, -50%) !important;
	text-align: center;
}
#portfolio{
	
	background-color:#2B2B2B;
	color: #999;
	margin:0px;
	padding:10px;
}
#portfolio h2{
	margin-bottom: 30px;
	color: #F5F5F5;
}

#contact{
	background-color:#2B2B2B;
	color: #999;
	padding:10px;
}
#contact h2{
	margin-bottom: 30px;
	color: #F5F5F5;
}

.contact-input{
	background-color:#F5F5F5;
	color:#2B2B2B;
	width: 80%;
	border-radius: 0.5rem;
}
#contact-form{
	margin: 5%
}
/* Style of main */
.main1 {
	text-align: justify;
	font-family: 'Arial', Helvetica, sans-serif;
	padding-bottom: 0px;
	overflow: auto;
}
/* Style of footer */
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #2B2B2B;
	//color: #999;
	opacity: 0.9;
	font-family: 'Arial', Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
	width: 100%;
	clear: both;
}


}